[2017-07-10 21:33] mmmaxine opened #1 "Research Capacity Building Grants 2017/18"
GOAL: Get grant to hire an admin

- [ ] foundation center log in
- [ ] research
- [ ] delegate writing
- [ ] create spreadsheet of grants to apply to

[2017-07-10 21:38] mmmaxine opened #2 "Website Copy"
GOAL: rewrite copy for website to improve readability & SEO.

- [x] keyword research
- [x] draft 1 copy
- [ ] @zee-em edits
- [ ] Roxy copy edits
- [ ] Maxine adds to website

[2017-07-10 21:38] zee-em opened #3 "PR & Hype for Fall 2017 Classes"
GOAL:  Get good enrollment in all 2017 Fall Evening classes.

- [ ] get full list of classes we're running, plus days/times
- [ ] consider any additions
- [x] contact instructors for more details plus designs for flyers
- [ ] come up with comms plan, channels, schedule
- [x] print & distribute flyers
- [ ] write blog posts, tweets, & FB
- [ ] access email lists if possible (UF, Santa Fe)
- [ ] mon

[2017-07-11 20:40] mmmaxine opened #4 "Emails to folks interested in Year-Long"
GOAL: Get prospective students to apply sooner

- [ ] figure out an effective strategy: how often to send, what kinds of messages
- [ ] look at which emails convert in the CFW chain
- [ ] write welcome email
- [ ] write subsequent emails

[2017-07-11 20:44] mmmaxine opened #5 "Audience Research"
GOAL: Create buyer personnas to help people create effective email, blog and social media campaigns

- [ ] Meeting with @zee-em and Tom
- [ ] @mmmaxine researches demographics for different products
- [ ] @mmmaxine creates buyer personnas

[2017-07-11 21:23] mmmaxine opened #6 "Website Photo Shoot"
GOAL: Photos that communicate what it is like to learn at SAW (collaboration, support, focus)

- [x] schedule photo shoot with Annemarie Poyo
- [x] find students who can come to photo shoot
- [x] - [ ] tell them they need to bring sketchbooks, drawing supplies, and in progress work
- [x] clean up SAW before shoot
- [ ] select photos for website

[2017-07-11 21:34] mmmaxine opened #7 "Adding Classes to Squarespace"
GOAL: Get classes ready for website launch

- [x] @zee-em and @sawcomix get class descriptions for JT's class
- [x] @zee-em and @sawcomix get pricing info for classes

- [ ] @mmmaxine adds content
- [ ] @mmmaxine creates zapier to add the orders to a Google spreadsheet

[2017-07-11 21:40] sawcomix commented on #7
Ooh someone using zapper to add to googlr sheets?

On Jul 11, 2017 5:35 PM, "Maxine" <notifications@github.com> wrote:

[2017-07-11 22:19] mmmaxine commented on #7
I think it's possible! I'm not sure, but if it is let's do it!

[2017-07-21 01:09] zee-em commented on #6
Hey @mmmaxine what should i wear to the photoshoot?

[2017-07-21 01:16] hutchowen commented on #4
We're pretty much caught up here, guys thanks!

[2017-07-21 01:19] mmmaxine commented on #6
PINK POLKA DOTS plz

On Thu, Jul 20, 2017 at 9:09 PM, zannah m. <notifications@github.com> wrote:

[2017-07-21 01:27] MelissaIuliano opened #8 "Art Walk August 25"
GOAL: SAW has an awesome offering for ArtWalk that gets people super jazzed about SAW-- both new students (who know they can have a show) and community members.

This will be at SAW

- [x] @zee-em to email james re: screen printing and his own work, cc melissa
- [x] advertise via Facebook
- [x] apply for Art Walk http://www.artwalkgainesville.com/services - DUE DATE the 15th (of whatever month you

[2017-07-21 01:35] sawcomix opened #9 "Art Walk Sept 29"
GOAL: showcase art by SAW friends, alumni, and current students

- [ ] register the event with Artwalk (Due the 15th)
- [ ] figure out theme of SEPT artwalk
- [ ] Email/FB for open call for art work (SAW peeps)
- [ ] create FB event and promote, promote, promote!
- [ ] get snacks and wine
- [ ] Figure out music situation (DJ or playlist)
- [ ] set up art a day or two BEFORE artwalk (have it all re

[2017-07-21 01:46] graphicstyle7 opened #10 "SAW Promotional Brochures"
Goal is to have at least one, possibly both brochures completed by Sept. 5th.

- [ ] Shared dropbox folder for SAW assets @hutchowen
- [ ] @hutchowen conversation about content and design
- [ ] if it seems useful, share for review
- [ ] give to Roxanne for proofing
- [ ] research turnaround time for printing
- [ ] PS print https://www.psprint.com or OnlinePrint

[2017-07-21 01:56] sawcomix opened #11 "Lisa's Spring Class: Meditative Art"
GOAL: Run Lisa's Meditative Art Class for Spring 2018, with strong enrollment!

- [x] Set days/times, # of session
- [x] Get course description
- [x] Get art and copy for flyer
- [x] Describe target audience (for promotions)
- [ ] @graphicstyle7 fill out evening course questionnaire
- [ ] create blog post, and FB/twitter posts @zee-em
- [ ] execute PR plan (flyering, social media, etc) @zee-em

[2017-07-21 02:01] sawcomix opened #12 "THREADLESS!"
GOAL: Make the best possible SAW shirts ever!
@hutchowen @mmmaxine @MelissaIuliano @zee-em @graphicstyle7
suggest t-shirt designs and artists!

[2017-07-21 02:02] hutchowen commented on #12
Is threadless a POD thingee? I'd love to offer a few other designs... We had a great Leela shirt/poster too...

@zee-em need me to set up a drop box shared?

[2017-07-21 02:03] zee-em commented on #12
I vote for multi-color Vanessa Davis water-skiiers
And a Josh Bayer shirt of some sort!

[2017-07-21 02:05] zee-em commented on #12
This seems to be the page where you set up the Threadless shop
https://www.threadless.com/artist-shops/signup

[2017-07-21 02:06] hutchowen commented on #3
TOM needs to gather all old Alum into an email list, including year-long students especially, so we can send them emails...

[2017-07-21 02:07] hutchowen commented on #3
@mmmaxine or ME to create EventBrites and FB events for these

[2017-07-21 02:08] hutchowen opened #13 "Tom's ongoing online list"
create FB events for some classes

[2017-07-22 21:27] zee-em opened #14 "Get a shorter URL for SAW"
GOAL: get a shortened SAW website URL, to make our lives easier. sawcomics.org is desired.

- [x] @mmmaxine set this up with GoDaddy.

Don can help answer questions if needed :)

[2017-07-24 20:08] zee-em commented on #10
Here's the draft brochure that Lisa designed! @hutchowen @mmmaxine and others FYI
![saw brochure outside and inside-1](https://user-images.githubusercontent.com/13405058/28542487-4db373c0-708a-11e7-97ba-c2ee23411c30.png)

![saw brochure outside and inside-2](https://user-images.githubusercontent.com/13405058/28542545-8620d96e-708a-11e7-86c6-f1d65cd007c7.png)

Link to PDF here: [SAW brochure outsid

[2017-07-24 20:09] hutchowen commented on #10
Hi guys, I tweaked Lisa's design with Miranda's images and am pasting screenshots. The actual PSD is in the Dropbox link, https://www.dropbox.com/sh/w1xiekixsfvtgm7/AADLSh6H042xE2VHjMrhAS2Ua?dl=0

Keep in mind this mock-up is very low-res and incomplete, but I'd like to go in this direction. It builds on Lisa's great  story of "I want this, I want this!" then "have you tried SAW?" and "What is SAW

[2017-07-24 20:10] hutchowen commented on #10
Also, the front panel will need the most work lettering wise, and I may have Miranda draw us some new balloons and lettering...

Also, I didn't include the Why Gainesville part but it should be there, probably where the grass and flowers are...

Cheers

[2017-07-24 20:27] zee-em commented on #10
@hutchowen I like it!  Love the mint/pink/aqua illustration on the "what is SAW page" -- those tropical colors are great. love how Miranda's illustrations help tell the story that Lisa constructed so skillfully.

I'm pasting below my reply from the email chain about brand coordination and mood-boards... PLUS because I was thinking of it (and procrastinating on packing for our move), I made a Pinte

[2017-07-24 20:27] hutchowen commented on #13
- [x] make aliza video ad
- [x] msake aliza handout

- [ ] Satisfy objections with giveaways
- [ ] plan next 7-8 weeks of emails about classes

- [ ] NEW CLASS BY JUSTINE
- [x] INTRODUCING ALIZA
- [ ] HOW DO YOU WRITE EMOTIONAL COMICS?

- [ ] instagram lots
- [ ] freebies
- [ ] FB ads sooner rather than later?

- [ ] NEW POP-UPS

- [ ] CFW Mini-COURSE

[2017-07-24 20:35] zee-em commented on #10
Oops one last thing! @hutchowen I messed around with making the SAW logo into an ink spash! Obviously I REALLY don't want to pack.
![sawsplashtest](https://user-images.githubusercontent.com/13405058/28543524-1189dfb6-708e-11e7-9dd9-7eba998f795a.jpg)
:)

[2017-07-24 20:45] graphicstyle7 commented on #10
Looks good to me! Let me know if I can be of further assistance.

[2017-07-24 21:09] mmmaxine commented on #10
Man! I am loving this collaborative atmosphere! I think we're honing in on a great direction for the brochure. I think we should focus in on the idea of transformation for the brochure using Miranda's images—let's use testimonials that speak to transformation, let's find images from other students that imply transformation or ascension too.

We should also start thinking about the purpose of the p

[2017-07-25 00:09] hutchowen commented on #10
New comps of Miranda flier.This is definitely close to how I'd like to see it finalized. Main sticking points are format of images on the front pane. Have to look at Miranda's original art and see what fits and what has to be cut out, etc. Ideally it would be at least 2 or 3 separate panels with borders. I'll talk to her. Need to get her to draw us a couple new word balloons. Also, "What is SAW?"

[2017-07-25 00:32] zee-em commented on #10
one thought-- might all the pastels make this look too much like it's for kids? not that we can't use pastels anywhere, but wondering if this easter-egg color combo, with miranda's playful drawings, are pushing it too far in that direction? esp if we want a range of students. maybe try showing it to a few disinterested parties and see who they think it might be for?

possible solution: try one neu

[2017-07-25 00:43] hutchowen commented on #10
True, I'm pretty bad with colors. Zannah, want to propose a couple changes to the palette?

[2017-07-25 01:52] hutchowen commented on #10
PSD for Lisa to take over, once we get high res images from Miranda:

https://www.dropbox.com/s/3y828cs7vhdf70d/SAW%20brochure%20outside-HARMON.psd?dl=0

I'll provide fonts too. We'll have to get high-res images from Sally and Bjorn too. I'd like to use Zannah's ink logo too

[2017-07-26 03:20] graphicstyle7 commented on #10
Ok. I will need the images and fonts. It's a very cute and instructive brochure. I do have to say, in a constructive way, there is not much contrast on the front flap. It's cute, but kind of blends in with itself. When I start to assemble the images and type, hope you don't mind a suggestion or two without changing the images or their order.

[2017-07-26 03:36] hutchowen commented on #10
HI Lisa, yes the cover is what I'm least happy with at present, but Miranda sent the art and I'll send it along. I wonder if a 3 images for the 4 phrases or a larger first image or something might work. I'll send that dropbox link tomorrow, thanks!

[2017-07-26 14:07] graphicstyle7 commented on #10
Ok. I can do two versions of the front cover and let you decide.

[2017-07-26 14:41] hutchowen commented on #10
Great, thanks Lisa! I'm uploading those files of Miranda's now. I'll let you know when they're up. Again, we can ask her for new word balloons, and maybe a new border or something now and then... Also uploading the font I used. I'm asking her to letter "What is SAW?", we'll see if she does it...

[2017-07-26 14:46] hutchowen commented on #10
Ok there's fonts and Miranda's Tifs in there
https://www.dropbox.com/sh/w1xiekixsfvtgm7/AADLSh6H042xE2VHjMrhAS2Ua?dl=0

[2017-08-04 20:31] zee-em commented on #14
@mmmaxine thanks for doing this!
@hutchowen @MelissaIuliano @graphicstyle7 @no-carrier FYI you can now use and share
sawcomics.org freely, it redirects to the existing sequentialartistsworkshop.org site.
YAY!

[2017-08-04 20:34] zee-em commented on #8
hi @MelissaIuliano as I mentioned, James confirmed that he's up for this. I will coax some images from him next week.
@no-carrier, are you willing to DJ? I think it will be at Old SAW.
@hutchowen -- is this true? do we prefer Old SAW for artwalk?

[2017-08-04 20:35] zee-em commented on #3
@hutchowen can you send that email list of former students/local alums?

[2017-08-04 20:41] zee-em opened #15 "Review Meeting Notes"
Hey everyone, I **FINALLY** typed up notes from our first SUPERFRIENDS meeting. **[Check them out here](https://github.com/saw-comics-gnv/planning/blob/master/meetings/superfriendsmtg7-20-17.md)** to remind yourself of the stuff we're most excited about, and the nice evening we spent together at Curia!
@MelissaIuliano @mmmaxine @graphicstyle7 @hutchowen

And, weigh in below-- are people up for ano

[2017-08-04 20:44] zee-em commented on #13
@hutchowen hey, how's all this stuff going? need any help or nudges? (i am especially curious about "HOW DO YOU WRITE EMOTIONAL COMICS")
I'm up in MA until 8/15, but around virtually to chat 😸
Also, I added checkboxes to your list so you can satisfyingly check things off.

[2017-08-04 20:44] hutchowen commented on #15
We are planning orientation/get together, shooting for Saturday before the 20th...

[2017-08-04 20:45] hutchowen commented on #3
bug me again tomorrow. It was on my to-do list for today, but I missed it.

[2017-08-04 20:45] hutchowen commented on #8
Until we can assess situation at NEW SAW, yes. They will probably be building back there through October.

[2017-08-04 20:49] hutchowen commented on #14
Hey I thought I emailed this out, but it didn't go out... Pasting below.

[OH CRAP THOUGHT THIS SENT YESTERDAY]

Hey guys (especially maybe Deanna, who knows most about this?)

Our current online courses are at sequentialartistsworkshop.thinkific.com , so it's on the thinkific site. I know with our plan we can use our domain, etc, but is it possible to set up a subdomain to point there?

Like onli

[2017-08-04 20:50] hutchowen commented on #13
Did I write that? Was that on my notepad?

[2017-08-04 20:56] zee-em commented on #13
ha, it's in this issue that YOU created at our meeting. 😸

[2017-08-04 21:01] hutchowen commented on #13
It's true, I did some of these things already!

[2017-08-04 21:04] mmmaxine commented on #14
I don't see any reason not to do this—it's probably pretty easy. Can you
send me that Thinkific page where you got the screenshots from?

Also let's brainstorm something more succinct than
onlinecourses.sawcomics.org  ...

learn.sawcomics.org
courses.sawcomics.org
studyonline.sawcomics.org
onlineclass.sawcomics.org
            .sawcomics.org  [add your own ideas here]

[2017-08-04 21:06] mmmaxine commented on #3
@zee-em Going to finish distributing flyers tomorrow!

[2017-08-04 21:10] hutchowen commented on #14
how about either
learn
or
online

and  the page was just help on thinkific.com or even "features" or something. Github is public, right? I'll text you the log in if you want it

[2017-08-04 21:11] hutchowen commented on #3
I just made a list in my email. It's a draft, I'll get it to you tomorrow. I want to make it a mailchimp list too

[2017-08-05 19:40] mmmaxine commented on #14
I have the log in already! I'll look into it today!

On Fri, Aug 4, 2017 at 5:10 PM, hutchowen <notifications@github.com> wrote:

[2017-08-05 20:20] mmmaxine commented on #14
Donzo!

http://learn.sawcomics.org/ = short URL for *ONLINE CLASSES*

sawcomics.org/ <http://learn.sawcomics.org/> = short URL for everything
else --- it redirects to sequentialartistsworkshop.org/wordpress/

On Sat, Aug 5, 2017 at 3:40 PM, Maxine Worthy <maxinedoubleu@gmail.com>
wrote:

[2017-08-05 20:35] hutchowen commented on #14
GREAT!

[2017-08-05 20:36] hutchowen commented on #14
THANK YOU MAXINE.

So I reopened this, just to make sure we address some issues, that are probably fine. Namely SUMO pop-ups that have been set-up at the other URL, also, might want to go into Mailchimp and change all links (ay-yi-yi-) etc.

No hurry, probably, but this is cool, thanks so much

[2017-08-05 21:16] mmmaxine commented on #14
You're welcome! Can you go into detail about this (and ideally put the
tasks into Github)? Are you talking about the Sumo pop ups on thinkific
(cuz they still work when I go to learn.sawcomics.org) or on the website?
And what Mailchimp things are you concerned about?

 We'll set up new pop-ups natively in Squarespace,

On Sat, Aug 5, 2017 at 4:36 PM, hutchowen <notifications@github.com> wrote:

[2017-08-05 21:34] hutchowen commented on #14
Um, yeah, I just want to double check we have the right pop-ups still working.

Right now we have a global one (SAW COMICS) but then different ones for COMICS FOR WRITERS, ALIZA's CLASS and maybe one other? (SAW COMICS is turned OFF at these URLS) Also a few inner pages. I just want to double check they are still working, and I guess if anyone handles the keys ever, we will have to maintain the th

[2017-08-06 21:34] mmmaxine commented on #14
Hmm... Sounds like another GitHub lesson is needed!

As long as the links are embedded like this,
<http://learn.sawcomics.org/courses/every-picture-tells-a-story> I don't
think it's an issue to have mailchimp still link to the sequential[ect].
thinkific.com.

You're right about the pop ups: in the course pages that are at
learn.sawcomics.org/[class] the UNIVERSAL SAW pop up comes up, not the
uniqu

[2017-08-08 17:09] hutchowen opened #16 "Event promo for evening classes"
Made Eventbrite event for Turek Silkscreen
https://www.eventbrite.com/e/silkscreen-workshops-tickets-36866742419

Also boosted on FB for $40 for 7 days

Please share!

[2017-08-08 20:53] mmmaxine commented on #3
Just fyi, I put flyers out around town last weekend.

[2017-08-09 00:54] hutchowen commented on #3
Some how I didn't see this, sorry, I think I started a new one.

For what it's worth,

I created an Event Brite for James' class
Sent an email at 8 pm tonight to 500 local people about the class (that seemed high, I think I did something wrong, oh well.)
Boosted the FB event for $40

I'll send emails each day this week

T

[2017-08-09 00:54] #16 closed, assigned to zee-em, mmmaxine

[2017-08-09 00:54] hutchowen commented on #3
Made Eventbrite event for Turek Silkscreen
https://www.eventbrite.com/e/silkscreen-workshops-tickets-36866742419

Also boosted on FB for $40 for 7 days

[2017-08-09 01:13] zee-em commented on #3
Hey, great! This sounds good.
How do I check the eventbrite registration so I can update our lists?
z

On Tue, Aug 8, 2017 at 8:54 PM, hutchowen <notifications@github.com> wrote:

[2017-08-09 01:31] hutchowen commented on #3
I don't have the slightest idea yet.

Worst case scenario I forward manually to evenings@ ...

On Aug 8, 2017 9:13 PM, "zannah m." <notifications@github.com> wrote:

[2017-08-11 15:44] MelissaIuliano commented on #8
Hey guys! I'm emailing the Artwalk people and checking in here just to make sure I get all the info right before submitting our showcase to them.

Since we are doing a combo showcase of both James Turek's work and the student work from the silk screen workshop, _should we have an exhibit name_? (ooh la la!!) Like, "James Turek and the Silk Screeners" or something? That makes it sound like a band n

[2017-08-11 22:46] hutchowen commented on #8
Yes to all!

I"ll pay the fee, you can tell them that in the email too, they're used to me.

Cheers and THANKS!!!!!

[2017-08-12 18:50] mmmaxine commented on #8
Thanks for taking care of this @MelissaIuliano ! <3 I like both title ideas.

[2017-08-12 18:51] mmmaxine commented on #14
@hutchowen have you taken care of the Sumo pop ups or should I delve into this?

[2017-08-12 18:56] mmmaxine commented on #7
Heya, I can't find anything about James's fall class on the website. I also just looked through my email and I don't have a course description for the class.

[2017-08-12 18:57] mmmaxine commented on #7
@zee-em @hutchowen when you have a course description, will you send it to me? I'll make an EB page and add it to the website.

[2017-08-12 18:59] hutchowen commented on #14
I think we should plan order of operations. Sumo only has to happen once we
start advertising online site with new url.

It's an short process to redo those pop-ups, maybe less than an hour, but
method might not be obvious.

I'd rather address current course outreach  (to interested people, people
in free trials, etc) before Sept 5

T

On Aug 12, 2017 2:51 PM, "Maxine" <notifications@github.com> w

[2017-08-12 18:59] hutchowen commented on #7
I think Hidden Fortress is ready to go, right zannah?

On Aug 12, 2017 2:57 PM, "Maxine" <notifications@github.com> wrote:

[2017-08-12 19:01] sawcomix commented on #7
Zannah says she has a blog or website draft of hidden Fortress. I would use
that. She's only available via text until her computer dries out!

On Aug 12, 2017 2:56 PM, "Maxine" <notifications@github.com> wrote:

[2017-08-17 16:37] graphicstyle7 commented on #10
Hey Tom, I have the layouts almost done, but I need two things. 1. The inside left panel has artwork by Sally Cantirinto and Bjorn Miner. I need high res versions of those pieces. 2. I need the copy for the different sections. I have a few "Students Talk About Saw" quotes from the first brochure, but that's about it.

[2017-08-17 17:03] hutchowen commented on #10
Hi Lisa, thanks! And thanks again!

There are really even better quotes on the current web page. I will copy and paste here:

I don't know if we'll be able to get Bjorn's art fast, but we have something lying around at SAW. Can you email Sally at cantirsa@gmail.com about hers?

TESTIMONIALS! If you can fit all 4 great, if not choose from the top down. THANKS!

SAW was everything I needed, in the r

[2017-08-17 17:28] zee-em commented on #10
A suggestion on quotes:  unless you're going to provide contact info in the brochure for Miranda, I might edit out the "If you're thinking about going there, feel free to talk to me."  It's a nice sentiment, but it requires that people search out Miranda and make the intro themselves, which is a little odd.

We could put somewhere else on the brochure "contact us if you'd like to speak with previo

[2017-08-17 17:51] hutchowen commented on #10
Thanks zannah!

It's also easy to Google Miranda so it doesn't bother me either way. I
actually kind of like the aggressiveness of it...

On Aug 17, 2017 1:29 PM, "zannah m." <notifications@github.com> wrote:

[2017-08-17 20:48] hutchowen commented on #10
Hey @mmmaxine can you /would you provide @graphicstyle7 with some text for the spots in the brochure with no text? See above screenshots, but the sections are:

WEEK-LONG WORKSHOPS
ONLINE COURSES
PROFESSIONAL TEACHERS
WHY GAINESVILLE?
A PLACE OF TRANSFORMATION

obviously it will have to be edited to fit, but I imagine you guys have this already for the new site, and @mmmaxine you are SO GOOD AT TH

[2017-08-17 20:49] hutchowen commented on #10
@zee-em do you have a high res version of the ink-splotch?

@graphicstyle7 do we need Miranda to draw a few new word balloons? If you send me a screenshot or something I can order that up from her!

xo everyone thanks!

[2017-08-17 20:51] mmmaxine commented on #10
I can draft some text tonight! :)

On Thu, Aug 17, 2017 at 4:49 PM, hutchowen <notifications@github.com> wrote:

[2017-08-17 20:55] mmmaxine commented on #10
@hutchowen @graphicstyle7   can I see the most recent layout so I know how much space I have? Thanks!

[2017-08-18 12:28] graphicstyle7 commented on #10
I have to be the one who does the new word balloons, since I'm working on the layout directly, it's better that I work on them and see exactly how they fit in with the type. Not a problem at all. : ) Otherwise, I just need the copy and I can have the first draft to show very soon.

[2017-08-18 13:27] hutchowen commented on #10
Ok, let's just keep it in style with her other ones, line weight, etc...

Maxine is working on text!

Thanks Lisa!

On Fri, Aug 18, 2017 at 8:28 AM, graphicstyle7 <notifications@github.com>
wrote:

--
-------------------------------------
Sequential Artists Workshop
www.sequentialartistsworkshop.org
twitter/instagram: comicsworkshop
facebook: sequentialartistsworkshop

Tom Hart: tomhart.net

[2017-08-18 14:19] mmmaxine commented on #10
Didn't get to this last night, but will work on it today!

[2017-08-18 15:03] zee-em commented on #10
@hutchowen  regarding the ink splotch, I found that graphic on this site:
http://www.psdgraphics.com/psd/cool-ink-splatter-blue-splash/
they have a $4 license fee for unlimited use of the item (though it seems like it's on the honor system, you can download without paying). details here: http://www.psdgraphics.com/commercial-use/
do you want to buy a license for this graphic, or should we make our

[2017-08-18 15:18] hutchowen commented on #10
let's pay it but I don't have time for that yet!

I downloaded, thanks!

On Fri, Aug 18, 2017 at 11:03 AM, zannah m. <notifications@github.com>
wrote:

--
-------------------------------------
Sequential Artists Workshop
www.sequentialartistsworkshop.org
twitter/instagram: comicsworkshop
facebook: sequentialartistsworkshop

Tom Hart: tomhart.net

[2017-08-18 15:54] mmmaxine commented on #10
Heya folks, Here's the copy for the brochure. Let me know which sections are too long.
I made the "Place for Transformation" section about the Year-Long program, b/c it didn't have a section.
https://docs.google.com/document/d/1qMqXHFhn8aL-4l7MDUTqmTI5f-bXiHAMnrTn9Qxnmx4/edit?usp=sharing

[2017-08-19 12:41] graphicstyle7 commented on #10
Ok, thanks!

[2017-08-22 01:15] graphicstyle7 commented on #10
A few things about this version:

1. I could not fit "About Gainesville" in the brochure and keep the brochure looking uncluttered.

2. I have made a few minor changes in the design. Thoughts?

3. Still working on getting those two pieces of art from non-Miranda sources.

So, this needs to be proofread and I'm sure you have a change or two. Just let me know. : )

![brochure 8-21-17 1](https://user

[2017-08-22 14:49] hutchowen commented on #10
Hi Lisa!

**Thanks for doing this!** Are we working on the high-res file now?

I like the minor changes so far. I'd like to request a few more, and ask a couple questions!

Can we bring back the **gradient on the side flap and back**? Just some softness to the flat field. The front is ok, (but I'd like to address the balloons and text on the front. More on that soon.)

On the back, **we don't need

[2017-08-22 17:38] MelissaIuliano commented on #8
@hutchowen - I am not able to make a FB Eventpage on the main SAW FB. I can only make one on the other SAW groups (but even then, it shows ME as hosting it and it limits me from inviting everyone for some reason?) Tom - would you be able to either create the FB Event for this artwalk or let me have access as a moderator to the main SAW FB page? I realize this is very last minute. I just couldn't f

[2017-08-22 18:04] mmmaxine commented on #8
I upgraded your FB permissions, @MelissaIuliano
<https://github.com/melissaiuliano>! You should be able to create a FB
event now. :)

[2017-08-22 18:21] MelissaIuliano commented on #8
Thanks!!!!

[2017-08-22 21:50] hutchowen commented on #8
Thanks you guysssss!

[2017-08-23 14:09] graphicstyle7 commented on #10
Ok, first off, yes, we're working with hi-res, printable files.

Second, I have removed the bolding from the headlines and changed the smaller type to Gill Sans, but have left the smaller type spaced the same for now.

The reason some of the type may seem to be slightly "off" is, when there are columns of text that go on for more than a few lines, the left and right are often justified so you have

[2017-08-24 15:01] hutchowen commented on #10
Hi Lisa! Thanks for the files, it's great!

As for the italics, it wasn't the people quoted, those were fine, it was the headlines. I'll take a look, maybe I was CRAZYYYYYY

I LOVE AND THANK YOU FOR ALL THIS WORK!!!!!!

[2017-08-25 01:00] hutchowen commented on #10
Hi everyone, the brochures are 95% done and here. THANK YOU LISA for getting the ball rolling, coming up with a great concept. Thanks Miranda for art, thanks again to Lisa for hard work isolating assets, thanks to Maxine for copywriting (you all realize she's really good at that right?!)

We're going to sleep on it over the weekend and send out for printing on Monday. Any last minute ideas, hurry!

[2017-09-05 15:55] MelissaIuliano commented on #8
Thank you everyone for a good Artwalk!
big, big, BIG THANK YOU to @zee-em and @mmmaxine for setting up and hosting!!! Thank you, thank you, thank you!!!!!!!!

[2017-09-05 15:56] #8 closed, assigned to MelissaIuliano

[2017-09-05 15:58] MelissaIuliano commented on #9
Hello again!! Do we want to participate in ArtWalk this month?
If so, what shall our theme be?
I want to get the ball rolling so that I can be more prepped for this one. (I was a little over my head with setting stuff up last month but now I kinda know what to expect for the next one).

EDIT: If we don't do SEPT Artwalk, shall we plan for a larger Artwalk in October? 'The Witching Hour' turned out

[2017-09-07 15:51] sawcomix commented on #9
I dunno, do we?

On Tue, Sep 5, 2017 at 11:58 AM, MelissaIuliano <notifications@github.com>
wrote:

--
--------------------
The Sequential Artists Workshop
http://www.sequentialartistsworkshop.org
Twitter: @comicsworkshop
Tumblr: http://sequentialartistsworkshop.tumblr.com/
Facebook:
http://www.facebook.com/pages/Sequential-Artists-Workshop/167604913271826

[2017-09-07 15:57] zee-em commented on #9
Yes! I think if there's bandwidth to do it and we can get our DJ, it can be
a cool event. I would suggest an alumni art show. It's a bit challenging to
get people to come down our way-- that's the only issue.

On Thu, Sep 7, 2017 at 11:51 AM, sawcomix <notifications@github.com> wrote:

[2017-09-07 15:59] sawcomix commented on #9
CMC is gearing up with new energy, and Mama's club is starting to get well,
started, and Erica (wild Iris) is emerging post-partum, so the energy is
growing in the courtyard again. We can usually get people there if we want

Facebook events and lots of posting on the event wall usually helps.

We have LOTS of great artwork that we sent to Brooklyn last year still
sitting in a drawer, could use mos

[2017-09-14 15:09] MelissaIuliano commented on #9
That sounds great! I love the idea of an alumni show!

I'm going to email the ArtWalk people today (I will use the SAW Admin email)

[2017-09-14 15:14] MelissaIuliano opened #17 "ArtWalk - October 27th"
GOAL: to have an awesome spooky, witchy, etherial showcase of amazing art

- [ ] register the event with Artwalk (Due the 15th)
- [ ] figure out theme of OCT artwalk
- [ ] Email/FB for open call for art work (SAW peeps)
- [ ] create FB event and promote, promote, promote!
- [ ] get snacks and wine!
- [ ] Figure out music situation (DJ or playlist)
- [ ] consider tarot readings or some other kind o

[2017-09-15 13:38] hutchowen commented on #10
Hey everyone! The brochures came in and look great.

BIG THANKS to @graphicstyle7 for conceiving the whole thing. I think the narrative was brilliant, Lisa and made for a great brochure. (I'm going to try to use the same concept and assets in a short video...)

Thanks to @mmmaxine for text and Roxanne for proofing and @graphicstyle7 again for trimming assets!

![screen shot 2017-09-15 at 9 37 27 a

[2017-09-15 14:10] graphicstyle7 commented on #10
Y'all are welcome! Happy to help.

[2017-09-24 18:41] #14 closed, assigned to zee-em, mmmaxine

[2017-09-24 18:47] mmmaxine opened #18 "Email Sign Up: New Site"
GOAL: Add effective, un-obnoxious email sign ups to the website.

- [ ] Decide type of sign up for different pages (pop ups, header/footer, end of blog post, ect.)
- [ ] Write copy aimed at different user personas
- [ ] Design a few templates for sign ups
- [ ] Turn them on
- [ ] Test sign ups

[2017-09-24 18:52] mmmaxine opened #19 "Create Buyer Personas"
GOAL: Create buyer personas for SAW's audience (donors, students/workshop attendees). Use the buyer personas to write content, guide marketing decisions.

- [ ] Collect previous discussions/notes from Tom & Zannah
- [ ] Meet with Tom & Zannah to discuss
- [ ] Writer personas

**Categories of profiles?**
Donors
In Person Classes
Online Classes

[2017-09-24 22:55] hutchowen commented on #19
I'd like to work with Maxine and Roxy to discuss full-year program possibilities, too, potential audience, etc. The SOONER the better?!!!

[2017-09-25 01:10] mmmaxine commented on #19
Definitely! I was lumping full year in with the In Person category, so I
should have been clearer.

On Sun, Sep 24, 2017 at 6:55 PM, hutchowen <notifications@github.com> wrote:

[2017-09-25 01:55] mmmaxine opened #20 "Website Copy"
GOAL: clear, concise copy that is friendly to humans & search engines.

Needs to be **written**
- [x] Visit
- [x] Evening Classes
- [x] Workshops
- [ ] FAQ: Evening Classes & Workshops
- [x] See Student Work

Needs **Editing** (but written)
- [ ] Year-Long Program
- [x] FAQ: Year-Long Program
- [x] About & History
- [x] Hire SAW
- [ ] Why an Alternative Comics School?
- [ ] Classes Online

**Copy,

[2017-09-25 02:01] #2 closed, assigned to zee-em, mmmaxine

[2017-09-26 03:07] hutchowen commented on #20
@mmmaxine as far as I'm concerned, you're the best copywriter we have. If you feel like what is on the old site is not good, then tweak or write as you like. If you want me to write or re-write, I will.

[2017-09-26 03:08] hutchowen commented on #19
We are meeting Wednesday. Let's make a plan: Twitter, Facebook (ads?), Instagram (need lots more?) Weekly e-mails? What? Who? How?

[2017-09-26 14:19] mmmaxine commented on #19
Developing the buyer personas needs to be it's own meeting. It seems
simple, but every time I've done it it's always taken me much longer than I
thought!

I'll have a worksheet and questions ready though.

On Mon, Sep 25, 2017 at 11:08 PM, hutchowen <notifications@github.com>
wrote:

[2017-09-26 14:31] hutchowen commented on #19
Wednesday for that, we've arranged!

[2017-09-26 19:45] zee-em commented on #19
Do you guys want me a this meeting? Or are you good? :)

On Tue, Sep 26, 2017 at 10:31 AM, hutchowen <notifications@github.com>
wrote:

[2017-09-26 20:35] hutchowen commented on #19
We're good!

You guard the safe!

On Tue, Sep 26, 2017 at 3:45 PM, zannah m. <notifications@github.com> wrote:

--
-------------------------------------
Sequential Artists Workshop
www.sequentialartistsworkshop.org
twitter/instagram: comicsworkshop
facebook: sequentialartistsworkshop

Tom Hart: tomhart.net

[2017-09-26 20:43] zee-em commented on #19
Cool, I'm happy to look at anything you come up with and give
feedback/ideas :)
Have fun!

On Tue, Sep 26, 2017 at 4:35 PM, hutchowen <notifications@github.com> wrote:

[2017-10-02 19:50] mmmaxine commented on #20
@hutchowen Do you have a collection of testimonials? I'm looking for one for the weeklong workshop page. :) I seem to remember you showing me a spreadsheet or doc with a bunch that you'd collected.

[2017-10-02 20:00] hutchowen commented on #20
![deanna-testimonial](https://user-images.githubusercontent.com/29961063/31096536-5495319c-a78a-11e7-977b-98b45454f4b8.png)

![screen shot 2015-12-26 at 3 48 33 pm](https://user-images.githubusercontent.com/29961063/31096598-787706d0-a78a-11e7-88c3-d2f287deabdd.png)
![screen shot 2015-12-26 at 3 48 46 pm](https://user-images.githubusercontent.com/29961063/31096600-787c4154-a78a-11e7-9425-f48e5847b

[2017-10-02 20:01] hutchowen commented on #20
there are tons 4 u!

[2017-10-02 20:17] mmmaxine commented on #20
Thanks @hutchowen !

[2017-10-02 20:56] zee-em commented on #20
Maxine, I can also review the copy! Let's make a date to go over the plans.
:)

xo z

On Mon, Oct 2, 2017 at 4:17 PM, Maxine <notifications@github.com> wrote:

[2017-10-03 21:11] mmmaxine commented on #20
@zee-em I'd love that. I made good progress this week. What day(s) are good for you?

[2017-10-04 14:49] hutchowen commented on #20
Hi guys, can we still shoot for an October launch? I want to start blogging more, and doesn't seem right to do it on current platform.  As Maxine was saying, let's get to simplest viability and just launch it, and tweak from there.

[2017-10-04 15:26] mmmaxine commented on #20
I think we can get it done in October. Zannah, do you want to schedule a
time when we can go over the content? This week is pretty open for me.

On Wed, Oct 4, 2017 at 10:49 AM, hutchowen <notifications@github.com> wrote:

[2017-10-05 02:30] mmmaxine opened #21 "Add Online Classes Preview"
Add a summary field (like the 3 featured blog posts) under the Online Classes section

[2017-10-05 02:33] mmmaxine commented on #21
@hutchowen , Could you send me images for the Online Courses **without text** for the three classes you want to feature on the homepage? I'm ready for them!

[2017-10-05 03:18] hutchowen commented on #21
Well I am not sure if we are doing categories of classes, or specific ones, or what, so I think I'll give you one for "Free Resources", "Comics for Writers" and "Inking Master Class"

[2017-10-05 03:24] hutchowen commented on #21
![writerscardnotext](https://user-images.githubusercontent.com/29961063/31209719-fe2da302-a95a-11e7-8da9-1712ebcc38f4.jpg)
![birdwriting](https://user-images.githubusercontent.com/29961063/31209722-062405ec-a95b-11e7-8374-60c9fb15bbae.png)
![inkcardsquarenotext](https://user-images.githubusercontent.com/29961063/31209725-0beffdc8-a95b-11e7-9a46-bd7a959a955f.jpg)

[2017-10-05 03:43] mmmaxine commented on #21
Awesome! Thank you! Can you send me the Comics for Writers image with the
hands (without text though)? I think that would be a nice one of free
resources. :)

On Wed, Oct 4, 2017 at 11:24 PM, hutchowen <notifications@github.com> wrote:

[2017-10-05 14:40] hutchowen commented on #21
SURE, you don't like the wizard?

[2017-10-05 14:48] mmmaxine commented on #21
I worry that the wizard can be read as a racist Asian cartoon. :(

On Thu, Oct 5, 2017 at 10:40 AM, hutchowen <notifications@github.com> wrote:

[2017-10-05 14:57] hutchowen commented on #21
Aha. can we do the temple? Let me see if I can find it.

[2017-10-05 15:04] mmmaxine commented on #21
Sure! Or we could use the bird dude and use the hands for CFW?

On Thu, Oct 5, 2017 at 10:57 AM, hutchowen <notifications@github.com> wrote:

[2017-10-05 15:10] hutchowen commented on #21
Here's two. Do what you want to start and if it needs tweaking we can tweak later.
![writerscardnotext](https://user-images.githubusercontent.com/29961063/31234742-afa40f42-a9bd-11e7-9cfd-8c1e4d1b5ca2.jpg)

![temple](https://user-images.githubusercontent.com/29961063/31234757-b548c2f8-a9bd-11e7-8bb6-a8549ae7bf26.jpg)

[2017-10-05 15:15] mmmaxine commented on #21
Sounds good! Zannah and I are meeting tomorrow to go over the content, btw.

On Thu, Oct 5, 2017 at 11:10 AM, hutchowen <notifications@github.com> wrote:

[2017-10-05 15:24] hutchowen commented on #21
Those  images on Squarespace tend to be square and I'm worried that the hands one is too undynamic as such. The temple ain't no great shakes either. I love the bird and Justine's image is a good starting place for her too. I just google searched Muppet+Wizard and got a strange surprise, but unsuitable for this...

[2017-10-05 15:32] mmmaxine commented on #21
I think it looks pretty good, it's a minor thing, and we can always change
it.

[image: Inline image 1]

On Thu, Oct 5, 2017 at 11:24 AM, hutchowen <notifications@github.com> wrote:

[2017-10-05 15:44] mmmaxine commented on #21
Whoops. that didn't work.

![screen shot 2017-10-05 at 11 31 47 am](https://user-images.githubusercontent.com/30058879/31236529-51524544-a9c2-11e7-8dbb-4f69a8cdae31.png)

 Also, we can talk about the non-handwritten font later. I changed it back to the typewriter font since there seemed to be a million secondary fonts in different places on the website and it was driving me nuts when I was working

[2017-10-06 02:15] hutchowen commented on #21
![witcheflying](https://user-images.githubusercontent.com/29961063/31260265-ad282ff2-aa1a-11e7-809f-2e4f45f26124.jpg)

this one might be better for free resources, and the bird for writers

[2017-10-13 18:24] MelissaIuliano commented on #17
Hey everyone! @hutchowen @zee-em @sawcomix @mmmaxine

I need a little help with ArtWalk this month (since I am going to be working FEST while it is going on). I will be able to help with some set up on Wednesday and Thursday (during the day) but I will not be there for the actual ArtWalk. (Sally has offered to help with set up)
I will also need help with snacks (I totally forgot that last time! Za

[2017-10-13 19:11] hutchowen commented on #17
Message received but deeply ingested! I will respond in more detail soon, and am open to nudging!

-TOM

[2017-11-13 15:52] graphicstyle7 commented on #11
Goal 1. Days and Times: This will be a three hour course for six weeks. The actual running time may be shorter, but when it runs long, it usually lasts three hours. I would like to do this during the day, 11:00am to 2:00pm. I'm hoping for Thursdays, but If that conflicts with anyone else, I will be happy to change the day. I'm not sure when you'd like to start in the year, but January and further

[2017-11-27 21:39] deanna opened #22 "Dates for 2018 week-longs:"
Julia Gfrorer at SAW March 5-9, 2018
Low-res week: May 7-11, 2018

[2017-11-30 15:35] mmmaxine commented on #22
Thank you!!!

On Mon, Nov 27, 2017 at 4:39 PM, Deanna Zandt <notifications@github.com>
wrote:

[2017-11-30 15:37] mmmaxine commented on #20
BTW We decided NOT to include Hire SAW from the first iteration of the website while we figure out whether we want to continue this.

[2017-11-30 15:50] hutchowen commented on #20
We want to continue it!

We've done great work this year.

Maybe the wording needs to change or something, which is fine, and *it's ok
that it take a back seat to other launch stuff,* but it should be a part of
it for sure. Including a portfolio of what we've done, similar to
http://sequentialartistsworkshop.org/wordpress/projects/saw-projects/

:) - TH

On Thu, Nov 30, 2017 at 10:37 AM, Maxine <n

[2017-11-30 16:17] mmmaxine commented on #20
Gotcha! Good clarification, Tom!

[2017-11-30 16:40] hutchowen commented on #20
thanks!

On Thu, Nov 30, 2017 at 11:18 AM, Maxine <notifications@github.com> wrote:

--
-------------------------------------
Sequential Artists Workshop
www.sequentialartistsworkshop.org
twitter/instagram: comicsworkshop
facebook: sequentialartistsworkshop

Tom Hart: tomhart.net